/* VARIABLES */
:root {
    --primary: #41afc8;
    --orange: #ff715b;
    --black: #4c5454;
    --white: #ffffff;
    --green: #16db93;
}

/* RESETS -  overriding the browser style sheet*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: sans-serif;
    background: #ffffff;
}

a {
    text-decoration: none;
}

/* GlOBAL CLASSES - stylings that can be used more than once - reusable classes */

/* Navbar */

nav {
    
}

nav .navbar-brand {
    color: var(--orange);
}

a.nav-link {
    color: var(--black) !important; 
}

a.nav-link.active {
    color: var(--orange) !important;

}

/* Search */

.search-container {

}

.search-container h1 {
    text-align: center;
    margin: 30px;
    color: var();
}

.search {
    border: 2px solid var(--green);
    border-radius: 30px;
    min-height: 30px;
    max-width: 37%;
    margin: 30px;
}



/* Card */