/* VARIABLES */
:root {
    --primary: #41afc8;
    --orange: #ff715b;
    --black: #4c5454;
    --white: #ffffff;
    --green: #16db93;
}

/* RESETS -  overriding the browser style sheet*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #ffffff;
}

a {
    text-decoration: none;
}

/* GlOBAL CLASSES - stylings that can be used more than once - reusable classes */


/* Card */




